.nav {
    float: left;
    width: 210px;
    /* height: 100%; */
    /* height: 900px; */
    background-color: #1f2637;
}

nav button {
    width: 210px;
    height: 40px;
    background-color: inherit;
    border: none;
    color: #78829d;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
    text-align: left;
}

nav button:hover {
    background-color: #15a4fa;
    color: #ffffff;
    cursor: pointer;
}

nav button:focus {
    color: #ffffff;
    background-color: #15a4fa;
    /* border: none; */
    outline: none;
}
