main {
    width: 1110px;
    margin-left: 210px;
}
/* .Main {
    padding: 50px;
    text-align: center;
    background-color: whitesmoke;
} */

/* main button {
    float: right;
    width: 100px;
} */
